In [1]:
import sqlite3

In [2]:
from sqlite3 import Error
 
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [3]:
def Q(conn,sql):
    cur = conn.cursor()    
    cur.execute(sql)
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [4]:
database = "sqlite_db_pythonsqlite.db" 
conn = create_connection(database)

2.6.0

In [5]:
# Q-10
sql= """
    select
    subq.name
    , subq.revenue
    from (
          select
          f.name
          , sum(case when b.memid = 0 then b.slots * f.guestcost
             else b.slots * f.membercost end) as revenue
          from
          Facilities as f
          inner join Bookings as b 
          on f.facid = b.facid
          group by f.name) as subq
    where
    subq.revenue < 1000
    order by subq.revenue
    """
        
with conn: 
    print("Q-10: List of facilities with a total revenue less than 1000.")
    Q(conn,sql)

Q-10: List of facilities with a total revenue less than 1000.
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [9]:
# Q-11
sql="""
    select
    m.memid
    , m.surname
    , m.firstname
    , (r.firstname||' '||r.surname) as recommender
    from
    Members as m
    inner join Members as r
    on m.recommendedby = r.memid
    where
    m.memid != 0
    order by m.surname, m.firstname
    """


with conn: 
    print("Q-11: Report of members and who recommended them in alphabetic surname,firstname order")
    Q(conn,sql)

Q-11: Report of members and who recommended them in alphabetic surname,firstname order
(15, 'Bader', 'Florence', 'Ponder Stibbons')
(12, 'Baker', 'Anne', 'Ponder Stibbons')
(16, 'Baker', 'Timothy', 'Jemima Farrell')
(8, 'Boothe', 'Tim', 'Tim Rownam')
(5, 'Butters', 'Gerald', 'Darren Smith')
(22, 'Coplin', 'Joan', 'Timothy Baker')
(36, 'Crumpet', 'Erica', 'Tracy Smith')
(7, 'Dare', 'Nancy', 'Janice Joplette')
(20, 'Genting', 'Matthew', 'Gerald Butters')
(35, 'Hunt', 'John', 'Millicent Purview')
(11, 'Jones', 'David', 'Janice Joplette')
(26, 'Jones', 'Douglas', 'David Jones')
(4, 'Joplette', 'Janice', 'Darren Smith')
(21, 'Mackenzie', 'Anna', 'Darren Smith')
(10, 'Owen', 'Charles', 'Darren Smith')
(17, 'Pinker', 'David', 'Jemima Farrell')
(30, 'Purview', 'Millicent', 'Tracy Smith')
(27, 'Rumney', 'Henrietta', 'Matthew Genting')
(24, 'Sarwin', 'Ramnaresh', 'Florence Bader')
(14, 'Smith', 'Jack', 'Darren Smith')
(9, 'Stibbons', 'Ponder', 'Burton Tracy')
(29, 'Worthington-Smyth', 'Henry', 'Tracy Smith')

In [7]:
# Q-12
sql="""
    select
    b.facid
    , f.name
    , sum( b.slots ) as member_usage
    from
    Bookings as b
    inner join Facilities as f 
    on b.facid = f.facid
    where
    b.memid !=0
    group by b.facid
    """

with conn: 
    print("Q-12: Facilities with their usage by member, but not guests")
    Q(conn,sql)

Q-12: Facilities with their usage by member, but not guests
(0, 'Tennis Court 1', 957)
(1, 'Tennis Court 2', 882)
(2, 'Badminton Court', 1086)
(3, 'Table Tennis', 794)
(4, 'Massage Room 1', 884)
(5, 'Massage Room 2', 54)
(6, 'Squash Court', 418)
(7, 'Snooker Table', 860)
(8, 'Pool Table', 856)

In [8]:
# Q-13
sql="""
    select
    b.facid
    , f.name
    , substr(b.starttime,6,2) as month
    , sum(b.slots) as member_usage
    from
    Bookings as b
    inner join Facilities as f 
    on b.facid = f.facid
    where
    b.memid !=0
    group by b.facid, month
    """

with conn: 
    print("Q-13: Facilities usage by month, but not guests")
    Q(conn,sql)

Q-13: Facilities usage by month, but not guests
(0, 'Tennis Court 1', '07', 201)
(0, 'Tennis Court 1', '08', 339)
(0, 'Tennis Court 1', '09', 417)
(1, 'Tennis Court 2', '07', 123)
(1, 'Tennis Court 2', '08', 345)
(1, 'Tennis Court 2', '09', 414)
(2, 'Badminton Court', '07', 165)
(2, 'Badminton Court', '08', 414)
(2, 'Badminton Court', '09', 507)
(3, 'Table Tennis', '07', 98)
(3, 'Table Tennis', '08', 296)
(3, 'Table Tennis', '09', 400)
(4, 'Massage Room 1', '07', 166)
(4, 'Massage Room 1', '08', 316)
(4, 'Massage Room 1', '09', 402)
(5, 'Massage Room 2', '07', 8)
(5, 'Massage Room 2', '08', 18)
(5, 'Massage Room 2', '09', 28)
(6, 'Squash Court', '07', 50)
(6, 'Squash Court', '08', 184)
(6, 'Squash Court', '09', 184)
(7, 'Snooker Table', '07', 140)
(7, 'Snooker Table', '08', 316)
(7, 'Snooker Table', '09', 404)
(8, 'Pool Table', '07', 110)
(8, 'Pool Table', '08', 303)
(8, 'Pool Table', '09', 443)